[Unit]
Description=Edge MCC128 acquisition
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/raspi-mcc128-influx/edge
EnvironmentFile=/home/pi/raspi-mcc128-influx/edge/.env
ExecStart=/usr/bin/python3 /home/pi/raspi-mcc128-influx/edge/src/acquire.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
