[Unit]
Description=Edge MCC128 acquisition
After=network-online.target
Wants=network-online.target

[Service]
User=JJSI
WorkingDirectory=/home/JJSI/projects/raspi-mcc128-influx/edge
ExecStart=/home/JJSI/venv-daq/bin/python /home/JJSI/projects/raspi-mcc128-influx/edge/scr/acquire.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
